@import url("https: //fonts.googleapis.com/css2?family=Dosis:wght@400;500&family=Recursive&family=Source+Code+Pro&family=Work+Sans:wght@200;320&display=swap");

.App {
     min-height: 100vh;
     display: flex;
     background-image: url("background_img.jpg");
     background-position: center;
     color: white
}